<config>
    <executableName>TestExecutable</executableName>
    <os>ios</os>
    <arch>x86</arch>
    <target>ios</target>
    <iosInfoPList>Info.plist.xml</iosInfoPList>

    <forceLinkClasses>
        <pattern>org.apache.harmony.xnet.provider.jsse.*</pattern>
        <pattern>org.apache.harmony.security.provider.crypto.*</pattern>
        <pattern>org.apache.harmony.security.provider.cert.*</pattern>
        <pattern>au.com.sparksoftware.sankyudict.ios.views.*</pattern>
    </forceLinkClasses>
    <frameworks>
        <framework>UIKit</framework>
        <framework>OpenGLES</framework>
        <framework>QuartzCore</framework>
        <framework>CoreGraphics</framework>
        <framework>OpenAL</framework>
        <framework>AudioToolbox</framework>
        <framework>AVFoundation</framework>
    </frameworks>
</config>
